.App {
  text-align: center;
  background: rgb(255, 255, 255);
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #6d6969;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Inputs {
  display: flex;
  flex-direction: column;
}

.Input {
  margin: 20px;
}
